@import '../../../../assets/scss/variables.scss';

::ng-deep .unidade-consumidora-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .button-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-end;
    }

    .column-title {
        display: none;
    }

    .header-table {
        width: 80%;
        padding: .7rem 0;
        margin-top: 1rem;
        background-color: rgb(34, 34, 34);
        color: white;

        label {
            padding: 1rem;
        }
    }

    .table-container {
        width: 80%;
        border-collapse: collapse;
        font-size: 14px;

        tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        .table-header {
            border-bottom: 1px solid #000000;

            th {
                padding: .5rem 1rem;
                border: 1px solid #e9e9e9;
                border-bottom-color: #cecece;
            }
        }

        .table-body {

            .actions-container {
                flex-direction: row;
                justify-content: center;
                padding: .6rem 0;

                .blue-icon {
                    color: #2c2cfd;
                }

                .gray-icon {
                    color: grey;
                }

                .red-icon {
                    color: #e22929;
                }

                fa-icon {
                    padding: .4rem;
                    cursor: pointer;
                    border-radius: 4px;
                    transition: .2s;
                    font-size: 16px;
                }

                fa-icon:hover {
                    background-color: $orange;
                    color: white;
                }
            }

            td {
                padding: 1rem;
                border: 1px solid #e9e9e9;
            }
        }
    }

    .text-center {
        text-align: center;
    }
}

@media screen and (max-width: 772px) {
    ::ng-deep .unidade-consumidora-main {

        .button-container {
            width: 100%;
        }

        .table-container {
            .table-header {
                border: none;
            }

            tr>th {
                display: none !important;
            }

            tr>td {
                text-align: left;
                display: block;
                width: 100;
                padding: 0.5rem !important;
                border: none !important;
                border-bottom: 1px solid #e2e2e2 !important;
                justify-content: center;

                .column-title {
                    padding: .4rem;
                    min-width: 30%;
                    display: inline-block;
                    margin: -.4em 1em -.4em -.4rem;
                    font-weight: bold;
                }

                &:first-child {
                    font-weight: bold;
                    text-align: center;
                    font-size: 16px;
                }

                &:last-child {
                    border-bottom: 1px solid black !important;
                }
            }

            tr:last-child {
                td:last-child {
                    border: none !important;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    ::ng-deep .header-table {
        label {
            font-size: 12px;
        }
    }
}
