<div class="unidade-consumidora-main">
    <div class="button-container">
        <app-button [buttonLabel]="'ADICIONAR'" [iconName]="faPlus"
            [routerLink]="'/unidades-consumidoras/unidade-consumidora'"></app-button>
    </div>
    <div class="header-table">
        <label>
            Lista de Unidades Consumidoras
        </label>
    </div>
    <table class="table-container" *ngIf="!isLoading">
        <tr class="table-header">
            <th>#</th>
            <th>Nome</th>
            <th>Distribuidora</th>
            <th>Faturas(un)</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Ações</th>
        </tr>
        <tr class="table-body" *ngFor="let unidadeConsumidora of unidadesConsumidoras; let i = index">
            <td class="text-center">
                {{i+1}}
            </td>
            <td>
                <span class="column-title">Nome</span>
                {{unidadeConsumidora.nome}}
            </td>
            <td>
                <span class="column-title">Distribuidora</span>
                {{unidadeConsumidora.distribuidora}}
            </td>
            <td class="text-center">
                <span class="column-title">Faturas(un)</span>
                {{unidadeConsumidora.faturas?.length || 0}}
                <fa-icon class="plus-faturas" [icon]="faPlus" (click)="openNewFaturaModal(unidadeConsumidora.id)">
                </fa-icon>
            </td>
            <td>
                <span class="column-title">Endereço</span>
                {{unidadeConsumidora.endereco}}
            </td>
            <td class="text-center">
                <span class="column-title">Número</span>
                {{unidadeConsumidora.numero}}
            </td>
            <td class="text-center actions-container">
                <span class="column-title">Ações</span>
                <fa-icon (click)="handleViewUnidadeConsumidora(unidadeConsumidora.id)" class="blue-icon" [icon]="faEye">
                </fa-icon>
                <fa-icon (click)="handleEditUnidadeConsumidora(unidadeConsumidora.id)" class="gray-icon"
                    [icon]="faPencil">
                </fa-icon>
                <fa-icon (click)="handleDeleteUnidadeConsumidora(unidadeConsumidora.id, unidadeConsumidora.nome)"
                    class="red-icon" [icon]="faTrash"></fa-icon>
            </td>
        </tr>
    </table>
    <div class="loader" *ngIf="isLoading"></div>
</div>

<div *ngIf="modelNewFatura" class="modal-new-fatura">
    <div class="modal-content">
        <div class="header">
            <strong>Nova Fatura</strong>
            <span class="close-button" (click)="modelNewFatura = false">&times;</span>
        </div>
        <form [formGroup]="formFatura" class="form-container">
            <app-input [parentForm]="formFatura" inputFormName="consumo" [type]="'number'" [label]="'Consumo *'">
            </app-input>
            <app-input [parentForm]="formFatura" inputFormName="valor" [type]="'number'" [label]="'Valor *'">
            </app-input>
            <app-input [parentForm]="formFatura" inputFormName="data_de_vencimento"
                [label]="'Data de vencimento * (dd/mm/aaaa)'">
            </app-input>
        </form>
        <fa-icon *ngIf="!isLoading" class="add-button" [icon]="faPlus" (click)="handleAddFatura()">
        </fa-icon>
        <div class="loader-container">
            <div class="loader" *ngIf="isLoading"></div>
        </div>
    </div>
</div>