::ng-deep .side-bar {
    min-height: calc(100vh - 140px);
    background-color: rgb(27, 27, 27);
    padding: 1rem 0;

    .navigate-option {
        padding: 0 1rem;
        cursor: pointer;
        transition: .3s;

        p {
            color: white;
            font-size: 14px;
            letter-spacing: 1.5px;
            padding: 1rem 0;
        }
    }

    .navigate-option:hover,
    :focus {
        background-color: #E27231;

        p {
            color: black;
        }
    }
}
