::ng-deep .side-bar {
    height: 100%;
    background-color: rgb(27, 27, 27);

    .navigate-option {
        padding: 0 1rem;
        cursor: pointer;
        transition: .3s;

        p {
            color: white;
            font-size: 14px;
            letter-spacing: 1.5px;
            padding: 1rem 0;
        }
    }

    .is-foccused {
        background-color: #E27231;
    }

    .navigate-option:hover,
    :focus {
        background-color: #E27231;
    }
}
