::ng-deep .side-bar {
    height: 100%;
    background-color: rgb(34, 34, 34);

    .navigate-option {
        padding: 0 1rem;
        cursor: pointer;
        transition: .3s;

        p {
            color: white;
            font-size: 14px;
            letter-spacing: 1.5px;
            padding: 1rem 0;
        }
    }

    .is-foccused {
        background-color: #E27231;
    }

    .navigate-option:hover,
    :focus {
        background-color: #E27231;
    }
}

@media screen and (max-width: 1000px) {
    ::ng-deep .side-bar {
        display: flex;
        flex-direction: row;

        .navigate-option {
            width: 12rem;
            text-align: center;
    
            p {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 580px) { 
    ::ng-deep .side-bar {
        display: flex;
        flex-direction: row;

        .navigate-option {
            padding: 0 .3rem;
            width: 11rem;
            text-align: center;
    
            p {
                font-size: 10px;
            }
        }
    }
}
