@import '../../../../assets/scss/variables.scss';

::ng-deep .input-container {
    display: flex;
    flex-direction: column;
    padding: .5rem;

    label {
        margin-bottom: .3rem;
        font-size: 14px;
    }

    input {
        padding: .5rem 1rem;
        border: 1px solid white;
        background-color: #fce7da;
        border-radius: 4px;
        font-size: 16px;
    }

    input:hover,
    input:focus {
        border: 1px solid $orange;
    }
}
