<div class="header-container">
    <div class="logo-container">
        <img src="/assets/imgs/gera-logo.png" alt="gera-logo" class="image-logo" />
        <img src="/assets/imgs/gera-icon.png" alt="gera-icon" class="image-icon" />
    </div>
    <div class="text-container">
        <div></div>
        <div class="title-container">
            <p>Desafio Técnico</p>
        </div>
        <div class="profile-container">
            <p>Rafael Brun Golin</p>
            <p>rafaelbrungolin@gmail.com</p>
        </div>
    </div>
</div>