/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu Condensed', sans-serif;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app-content {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 123px);

    .container {
        flex: 1;
        padding: 2rem;
    }
}

.loader {
  margin-top: 4rem;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .app-content { 
    flex-direction: column;
  }
}